<<<<<<< HEAD


=======
>>>>>>> 998055206acdd00975db0a4258c0337f8f63a247
p{
    background-color: orange;
    color: white;
    font-size: 20px;
    border: 5px solid black;
    padding: 50px;
    margin: 300px;
}

<<<<<<< HEAD
.Pmy{
=======
.myP{
>>>>>>> 998055206acdd00975db0a4258c0337f8f63a247
    background-color: orange;
    color: white;
}

#diffP{
    background-color: yellow;
    color: red;
}

table, td, th{

    border:1px solid black;
<<<<<<< HEAD
    border-collapse: collapse;    
=======
    border-collapse: collapse;  
>>>>>>> 998055206acdd00975db0a4258c0337f8f63a247

}

td{
    font-size: 20px;
    text-align: right;
}


/* ul li{
    list-style-type: square;

} */



